---
layout: page
---

<div>
  <div class="relative flex flex-col md:flex-row items-center md:items-start gap-12">
    {% if content %}
    <div class="max-w-4xl">
      {{ content }}
    </div>
    {% endif %}
    <div class="max-w-4xl w-full">
        <h1>Get in Touch</h1>
        <div class="pb-4">
          <h2 class="block m-0 text-lg font-medium text-gray-700">Email</h2>
          <p class="w-full block">
            <a href="mailto:oliver@sunlitstudios.co">oliver@sunlitstudios.co</a>
          </p>
        </div>
    </div>
  </div>
</div>
