---
layout: page
---

<div>
  <div class="relative flex flex-col md:flex-row items-center md:items-start gap-12">
    {% if content %}
    <div class="max-w-4xl">
      {{ content }}
    </div>
    {% endif %}
    <div class="max-w-4xl w-full">
        <h1>Get in Touch</h1>
        <div class="pb-4">
          <h2 class="block text-sm font-medium text-gray-700">Email</h2>
          <p class="w-full mt-1 block w-full px-3 py-2 bg-[#FFFFFF] border border-[#34342D] rounded-md shadow-sm focus:outline-none focus:ring-[#5C6E49] focus:border-[#5C6E49] sm:text-sm">
            <a href="mailto:oliver@sunlitstudios.co">oliver@sunlitstudios.co</a>
          </p>
        </div>
    </div>
  </div>
</div>
