---
layout: default
---

<div class="sticky top-0 min-h-[96vh] flex justify-center items-center px-6 pt-30 pb-12 md:pb-24  bg-[url('{{ site.baseurl }}/assets/img/home/hero.jpg')] bg-cover bg-position-[left_30%] ">
  <div class="flex justify-center md:justify-start w-full max-w-6xl">
    <div class="flex flex-col justify-center bg-[#FFFBF4] p-8 shadow-lg max-w-lg md:max-w-md lg:max-w-lg">
      <h1>Energize your email marketing</h1>
      <p>We help brands optimize the highest revenue-driving organic channel (hint: it’s email).</p>
      <p>Sunlit Studios is ready to write, design, and build email and sms programs that will convey your message with sparkling clarity and build community with your biggest fans and potential customers.</p>
      <p><a href="{{ site.baseurl }}/about/" class="text-[#5C6E49] underline hover:no-underline">Learn about how we work ></a></p>
    </div>
  </div>
</div>
<div class="sticky top-0 bg-[#5C6E49] text-[#FFFFFF] min-h-screen flex justify-center items-center inset-shadow-sm z-1">
  <div class="absolute top-3 before:content-['^']">
  </div>
  <div class="flex flex-col justify-start items-center p-8 max-w-xl">
    <h2>What we do:</h2>
    <div class="w-full">
      <h3>Deliverability</h3>
      <p>Run audits & implement remediation tactics to avoid the spam folder and maximize your opportunity for engagement.</p>
    </div>
    <div class="w-full">
      <h3>Strategy</h3>
      <p>Create targeted segments and automation to reach consumers on a personal level at every stage of the customer journey.</p>
    </div>
    <div class="w-full">
      <h3>Performance</h3>
      <p>Analyze & optimize monthly email performance with reporting focused on KPIs.</p>
    </div>
    <a href="{{ site.baseurl }}/services/" class="bg-[#FFFBF4] text-[#5C6E49] px-6 py-4 rounded-md hover:underline">View Services</a>
  </div>
</div>
<div class="sticky flex flex-col items-center min-h-screen inset-shadow-sm  bg-[#FFFBF4] z-2">
  <div class="px-12 py-30">
    <div class="text-center flex flex-col items-center">
    <h2>We’re obsessed with reaching and resonating with your audience</h2>
    <div class="flex flex-col md:flex-row justify-start md:justify-center items-center gap-12 max-w-md md:max-w-4xl">
      <div class="flex flex-col justify-center items-center w-full">
        <h3>Email Optimization</h3>
        <ul>
          <li>Automated flows</li>
          <li>Segmentation</li>
          <li>Campaign strategy & content</li>
        </ul>
      </div>
      <div class="flex flex-col justify-center items-center w-full">
        <h3>SMS Marketing</h3>
        <ul>
          <li>Pop-up strategy</li>
          <li>Subscriber engagement</li>
          <li>List growth</li>
          <li>Campaign and flow optimization</li>
        </ul>
      </div>
      
      <div class="flex flex-col justify-center items-center w-full">
        <h3>Omnichannel Strategy</h3>
        <ul>
          <li>Product launch strategy</li>
          <li>Content calendars</li>
          <li>Brand positioning</li>
        </ul>
      </div>
      
      <div class="flex flex-col justify-center items-center w-full">
        <h3>Data & Analytics</h3>
        <ul>
          <li>Detailed reporting</li>
          <li>Deliverability</li>
          <li>Optimization for retention, LTV, and more</li>
        </ul>
      </div>
    </div>
    
    <div class="flex flex-col justify-center items-center w-full py-6 gap-6">
      <h3>Reach Gen Z where they scroll</h3>
    </div>
    </div>

    <div class="flex flex-col w-full py-6 gap-6 justify-center items-center">
      <div class="w-full text-center">
        <h2>Our Successes</h2>
      </div>
      <div class="flex flex-col items-center md:flex-row gap-4">
        <div class="flex flex-col items-center gap-2 max-w-lg">
          <div class="flex h-90 w-full shadow-sm">
            <img src="{{ site.baseurl }}/assets/img/home/success-1.png" alt="Success Story 1" class="w-full h-full object-cover border-solid border-1 border-[#5C6E49]">
          </div>
          <div>
            <h3>Migrated to Klaviyo and increased click through rates to 2x the industry benchmark.</h3>
            <p class="text-right">Industry: Functional Foods</p>
          </div>
        </div>
        <div class="flex flex-col gap-2 max-w-lg">
          <div class="flex h-90 w-full shadow-sm">
            <img src="{{ site.baseurl }}/assets/img/home/success-2.png" alt="Success Story 2" class="w-full h-full object-cover border-solid border-1 border-[#5C6E49]">
          </div>
          <div>
          <h3>Cut welcome series bounce rate by 98% and doubled flow conversion rate in first 90 days.</h3>
          <p class="text-right">Industry: Baby</p>
        </div>
      </div>
      </div>
      
      <div class="flex flex-col justify-center items-center w-full py-12 gap-6 max-w-4xl text-center">
        <h2>Our specialties from the eCommerce tool pantry</h2>
        <div class="rounded-4xl border-2 border-[#5C6E49] overflow-hidden">
          <img src="{{ site.baseurl }}/assets/img/home/pantry.jpg" class="" />
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="bg-[#5C6E49] text-[#FFFBF4] w-full flex flex-col justify-center items-center inset-shadow-sm p-6">
    <p class="m-0 text-xl">Let's grow together.</p>
  </div>
</div>
